.accordion {
  /** Установить свои значения */
  $radius: 4;
  $icon-size: 24;

  // .accordion__item
  &__item {
    /** Установить свои значения */
    border-bottom: 1px solid rgba(#000, 12%);
    transition: 0.3s ease-in-out;

    &:not(:first-of-type) {
      border-top: 0;
    }

    &:first-of-type {
      border-top-left-radius: rem($radius);
      border-top-right-radius: rem($radius);
    }

    &:last-of-type {
      border-bottom-right-radius: rem($radius);
      border-bottom-left-radius: rem($radius);
    }

    &.open {
      .accordion__header {
        &:after {
          transform: rotate(0deg);
          background-image: url('../images/iconamoon_arrow-up-2-thin-fill.svg');
        }
      }

      .accordion__content {
        height: max-content;

        /** Установить свои значения */
        padding: rem(20) rem(105);

        @include media-mx(767) {
          padding: rem(20) rem(55);
        } 
        @include media-mx(475) {
          padding: rem(0) rem(10);
        } 
      }
    }
  }

  // .accordion__header
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(80);
    cursor: pointer;

    @include media-mx(767) {
      gap: rem(30);
    } 
    @include media-mx(475) {
      gap: rem(15);
    } 

    /** Установить свои значения */
    padding: rem(8);
    transition: background 0.3s ease-in-out;

    span {
      color: #828282;
      font-size: rem(16);
      font-weight: 500;
    }

    p {
      flex: 1;
      @include adaptiv-font(32, 22);
      font-weight: 500;
      line-height: 1.2;
      text-transform: uppercase;
    }

    &:hover {
      background: rgba(#fff, 2%);
    }

    &:active {
      background: rgba(#fff, 5%);
    }

    @include pseudo-cell(after, static) {
      margin-left: auto;
      // transform: rotate(0);
      width: rem($icon-size);
      height: rem($icon-size);
      background-image: url("../images/iconamoon_arrow-up-2-thin.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.6s ease-in-out;
    }
  }

  // .accordion__content
  &__content {
    height: 0;
    overflow: hidden;

    /** Установить свои значения */
    padding: 0 rem(105);
    transition: all 0.3s ease-in-out;

    @include media-mx(767) {
      padding: rem(0) rem(55);
    } 
    @include media-mx(475) {
      padding: rem(0) rem(10);
    } 
  }
}
