.info {
    padding: rem(10) 0;

    &_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(20);

        @include media-mx(991) {
            grid-template-columns: 1fr;
        }
    }

    &_left {
        @include media-mx(991) {
            order: 2;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &_right {
        padding: rem(40) rem(20);
        background: var(--primary-color);
        border-radius: rem(15);

        @include media-mx(991) {
            order: 1;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: rem(10);
        color: white;
        @include adaptiv-font(20, 16);
        font-weight: 500;
        line-height: 1.4;
    }
}