.intro {
    margin-top: rem(20);
    margin-bottom: rem(10);

    &_wrapper {
        position: relative;
        display: flex;
        align-items: center;
        background: #F4F4F4;
        border-radius: rem(15);

        @include media-mx(1239) {
            flex-direction: column;
        }
    }

    &_absolute {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(150);
        height: rem(150);
        background: var(--primary-color);
        color: white;
        border-radius: 50%;
        text-align: center;
        font-size: rem(16);
        font-weight: 500;
        text-transform: uppercase;

        @include media-mx(1239) {
            top: auto;
            bottom: 0;
            left: auto;
            right: 0;
        }
        @include media-mx(767) {
            width: rem(110);
            height: rem(110);
        }
    }

    &_text {
        display: flex;
        flex-direction: column;
        gap: rem(30);
        width: 50%;
        padding: rem(40) rem(30);
        padding-right: 0;

        @include media-mx(1239) {
            width: 100%;
            padding: rem(40) rem(30);
        }
    }

    &__title {
        @include adaptiv-font(64, 40);
        line-height: 1.2;
        text-transform: uppercase;

        span {
            color: var(--primary-color);
        }
    }

    &__subtitle {
        max-width: rem(440);
        @include adaptiv-font(20, 16);
        font-weight: 500;
        line-height: 1.2;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(30);
        max-width: rem(485);

        li {
            position: relative;
            padding: rem(15);
            padding-right: rem(35);
            background: white;
            border-radius: rem(15);
            @include adaptiv-font(18, 14);
            line-height: 1.2;

            &:before {
                content: '';
                position: absolute;
                top: rem(15);
                right: rem(15);
                width: rem(10);
                height: rem(10);
                background: var(--primary-color);
                border-radius: 50%;
            }
        }
    }

    &_img {
        display: block;
        width: 50%;
        height: 100%;

        @include media-mx(1239) {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        img {
            max-width: rem(900);
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}